@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome :)</h1>
    <!-- <button asp-area="" asp-controller="Home" asp-action="Check">Press me!</button> -->
    <a asp-area="" asp-controller="Path" asp-action="Report">Click here to use FakeGit</a>
</div>
