@using PUXinterviewMVC.Models.WatchedFiles
@model Dictionary<WatchedFileStatus, List<WatchedFile>>

@{
    ViewData["Title"] = "Hello!";
}

<div class="text-center">

    <h1>The Results:</h1>
    
    <div class="row">
        @if (Model == null)
        {
            <h4>The new Dictionary was added to the list</h4>
        }
        else
        {
            @foreach (var (status, files) in Model)
            {
                <div class="col-12">
                    <h4> [ @status.ToString() ] </h4>

                    @foreach (var file in files)
                    {
                        <p> - @file.FilePath </p>
                    }
                </div>
            }
        }
    </div>
</div>
